{% extends 'base.html' %}
{% load static %}

{% block title %}
	Мои клиенты
{% endblock %}

{% block content_title %}
	<p class="m">Мои клиенты</p>
	<p class="s"><a href="{% url 'index' %}">Главная</a> / <a href="{% url 'personal' %}">Личный кабинет</a> / <span>Мои клиенты</span></p>
{% endblock %}

{% block content %} 
	<div class = "offset-md-2 col-md-8 comments">
		<!--
		<div class="row justify-content-md-center">
			<form class="col-md-6 row justify-content-md-center" action="{% url 'clients' %}">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
				<button class="btn btn-secondary m-3" type="submit">Search</button>
			</form>
		</div>
		-->
		{% for appointment in appointments %}
			<div class="comments-item">
				<p class="logo">Запись клиента</p>
				{% if appointment.animal %}
					<p>Клиент: {{ appointment.animal.client.user.first_name }} {{ appointment.animal.client.user.last_name }} {{ appointment.animal.client.user.middle_name }}</p>
					<p>Питомец: {{ appointment.animal }} </p>
				{% else %}
					<p>Незарегистрированный клиент</p>
				{% endif %}
				<p>Почта клиента: {% if appointment.email %} {{ appointment.email }} {% else %} {{ appointment.animal.client.user.email }} {% endif %} </p>
				<p>Дата первого посещения: {{ appointment.date }}</p>
				<p>Диагноз:</p>
		'''	<!--		<form method="post" action='{% url 'clients' %}?id={{ card.id }}'> 
						{% csrf_token %}
						{% for key, item in form.items %}
							{% if key == card.id %}
								<p class="tutsy">Статус:</p>
								{{ item.status }}
							{% endif %}
						{% endfor %}
						<div class="row justify-content-md-center">	
							<button class='m-3 forms-btn btn btn-warning' type='submit'><i class="fa fa-pencil" aria-hidden="true"></i></button>
						
						</div>
					</form>  --> '''

					<div class="row justify-content-md-center">	
					<button onclick="location.href=''" class='m-3 forms-btn btn btn-warning' type='submit'>Поставить диагноз</button>
					<button onclick="location.href='{% url 'visits' id=appointment.id %}'" class='m-3 forms-btn btn btn-warning' type='submit'>Посещения клиента</button>
					<button onclick="location.href=''" class='m-3 forms-btn btn btn-danger'><i class="fa fa-times" aria-hidden="true"></i></button>
					</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}