{% extends 'base.html' %}
{% load static %}

{% block title %}
	Мои клиенты
{% endblock %}

{% block content_title %}
	<p class="m">Мои клиенты</p>
	<p class="s"><a href="{% url 'index' %}">Главная</a> / <a href="{% url 'personal' %}">Личный кабинет</a> / <span>Мои клиенты</span></p>
{% endblock %}

{% block content %} 
	<div class="ui-139">
		<div class="container">
			<div class="row">
				{% for appointment in appointments %}
				<div class="col-md-12 col-sm-12 col-xs-12">
					<!-- Item -->
					<div class="ui-item">
						<!-- Heading -->
						<div class="d-flex justify-content-between">
							<!-- Main Heading -->
							<h2>Запись клиента</h2>
							<button onclick="location.href='{% url 'visits' id=appointment.id %}'" class='m-1 forms-btn btn btn-warning' type='submit'>Посещения клиента</button>
						</div>
				
						<div class="ui-border bg-red"></div>
						
	
						<div class="row">
							<div class="col-md-6 col-sm-12 col-xs-6">
								<h4>Информация о записи</h4>
								<hr/>
								<div class="row">
									<div class=" col-mob">
										<ul>
										{% if appointment.animal %}
											<li><span>Клиент:</span> <b>{{ appointment.animal.client.user.first_name }} {{ appointment.animal.client.user.last_name }} {{ appointment.animal.client.user.middle_name }}</b></li>
											<li><span>Питомец:</span> <b>{{ appointment.animal }} ({{appointment.animal.animal}})</b></li>
										{% else %}
											<li><span>Незарегистрированный клиент</span></li>
										{% endif %}
											<li><span>Почта клиента:</span> <b>{% if appointment.email %} {{ appointment.email }} {% else %} {{ appointment.animal.client.user.email }} {% endif %}</b></li>
											<li><span>Дата первого посещения:</span> <b>{{ appointment.date }}</b></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-12 col-xs-6">
								<h4>Заболевания</h4>
								<hr/>
								<div class="row">
									<div class=" col-mob">
										<ul>
											{% for key, item in illness.items  %}
												{% if key == appointment.id %}
													{% for i in item %}
													
														<li><span>{{ i.illness }}</span>
														{% for key2, item2 in form_status.items  %}
															{% if key2 == i.id %}
																<form class="frmx row d-flex" method="post" action='{% url 'clients' %}?id2={{ i.id }}'> 
																	{% csrf_token %}
																	{{ item2.status }}
																	<button class='btx forms-btn btn btn-warning' type='submit'><i class="fa fa-pencil" aria-hidden="true"></i></button>
																</form>
															{% endif %}
														{% endfor %}
														</li>
													
													{% endfor %}
												{% endif %}
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
						</div>
						<hr/>
						<h4 class='mb-3'>Добавить диагноз</h4>
						<form method="post" action='{% url 'clients' %}?id={{ appointment.id }}'> 
							{% for key, item in form.items  %}
								{% if key == appointment.id %}
									{% csrf_token %}
									<div class="row">
										{% for i in item %}
										<div class="forms col-md-6">
											{{ i }}
										</div>
										{% endfor %}
									</div>
								{% endif %}
							{% endfor %}
							<div class="d-flex justify-content-end">	
								<button  class='m-1 btn btn-warning ' type='submit'>Добавить диагноз</button>
							</div>
						</form>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}