{% extends 'base.html' %}
{% load static %}

{% block title %}
	Ветеринарная клиника
{% endblock %}

{% block content_title %}
	<p class="m">Ветеринарная клиника</p>
	<p class="s"><span>Главная</span></p>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6 mainpage"> 
		<div class=" mainpage-back">
			<p>Вылечим и вас, и ваших животных</p>
		</div>
	</div>
	<div class="tutsi col-md-6 d-flex flex-column align-items-center justify-content-center">
		<p class="t1">Почему Вам стоит выбрать именно нас?</p>
		<p class="t2">Сегодня люди заводят самых разных домашних питомцев. Животные становятся нам преданными друзьями, дарят огромную радость детям и скрашивают серые дни одиноких людей. Важно не забывать о том, что питомцы всегда нуждаются в заботе и уходе. Если Ваш любимец заболеет, следует своевременно обратиться за качественной ветеринарной помощью.</p>
	</div>
</div>
{% endblock %}