{% extends 'base.html' %}
{% load static %}

{% block title %}
	Процесс лечения
{% endblock %}

{% block content_title %}
	<p class="m">Процесс лечения</p>
	<p class="s"><a href="{% url 'main_page' %}">Главная</a> / <a href="{% url 'personal' %}">Личный кабинет</a> / <span>Процесс лечения</span></p>
{% endblock %}

{% block content %}
	<div class = "offset-md-2 col-md-8 comments">
		<!--
		<div class="row justify-content-md-center">
			<form class="col-md-6 row justify-content-md-center" action="{% url 'process' %}">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
				<button class="btn btn-secondary m-3" type="submit">Search</button>
			</form>
		</div>
	-->
		{% for card in cards %}
			<div class="comments-item">
				<p class="logo">Запись</p>
				<p class="hrefdoc">Лечащий доктор: <a href='{% url 'staff_detail' id=card.staff.id %}'>{{ card.staff.user.first_name }} {{ card.staff.user.last_name }} {{ card.staff.user.middle_name }} </a></p>
				<p>Услуги: 
				{% for obj in card.services.all %}
					<br><i class="fa fa-heartbeat" aria-hidden="true"></i> {{ obj.name }}
				{% endfor %} </p>
				<p>Статус: {{ card.status }}</p>
				<p>Дата первого приема: {{ card.datetime }}</p>
			</div>
		{% endfor %}
	</div>
{% endblock %}