{% extends 'base.html' %}
{% load static %}

{% block title %}
	Статистика
{% endblock %}


{% block content_title %}
	<p class="m">Статистика</p>
	<p class="s"><a href="{% url 'index' %}">Главная</a> / <span>Статистика</span></p>
{% endblock %}

{% block content %}
	<div class = "comments">
		<table class="table table-hover">
		  <thead>
		    <tr>
		      <th scope="col">Описание</th>
		      <th scope="col">Значение</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr class="linkhis">
		      <td>Среднее время лечения всех животных</td>
		      <td>{{ avgh.0.0 }}</td>
		    </tr>
		    <tr class="linkhis">
		      <td>Среднее время лечения кошек</td>
		      <td>{{ avg_animal.0.1 }}</td>
		    </tr>
		    <tr class="linkhis">
		      <td>Среднее время лечения собак</td>
		      <td>{{ avg_animal.1.1 }}</td>
		    </tr>
		    <tr class="linkhis">
		      <td>Процент вылеченных всех животных</td>
		      <td>{{ avgHealAllAnimals.0.0 }}</td>
		    </tr>
		    <tr class="linkhis">
		      <td>Процент вылеченных всех собак</td>
		      <td>{{ avg_an2.1.1 }}</td>
		    </tr>
		    <tr class="linkhis">
		      <td>Процент вылеченных всех кошек</td>
		      <td>{{ avg_an2.0.1 }}</td>
		    </tr>
		  </tbody>
		</table>

		<table class="table table-hover">
		  <thead>
		    <tr>
		      <th scope="col">Заболевание</th>
		      <th scope="col">Среднее значение времени лечения (в днях)</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for i in avg_illness %}
		    <tr class="linkhis">
		      <td>{{ i.0 }}</td>
		      <td>{{ i.1 }}</td>
		    </tr>
		    {% endfor %}
		  </tbody>
		</table>

		<table class="table table-hover">
		  <thead>
		    <tr>
		      <th scope="col">Заболевание</th>
		      <th scope="col">Процент вылеченных животных</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for i in avg_illness2 %}
		    <tr class="linkhis">
		      <td>{{ i.0 }}</td>
		      <td>{{ i.1 }}</td>
		    </tr>
		    {% endfor %}
		  </tbody>
		</table>
	</div>

	
	<p>--Процент вылеченных по всем животных--</p>
	<p>create function avgHeal() returns table(avgHeal float) as 
        $$ select avg(DATE_PART('day', date_end::timestamp - date_start::timestamp)) 
        from veterinary_illnessappointment where date_end is not NULL $$
        language sql;</p>

    <p>--Процент вылеченных кошек и собак в отдельности--</p>
	<p>create function avgHealGroupByAnimal() returns table(name varchar, percent float) as $$ select personal_animalmodel.name, avg(DATE_PART('day', date_end::timestamp - date_start::timestamp)) from veterinary_illnessappointment 
        join veterinary_illnessmodel on illness_id = veterinary_illnessmodel.id 
        join personal_animalmodel on animal_id = personal_animalmodel.id 
        group by personal_animalmodel.name $$ language sql;</p>

    <p>--Тригер на провеку добавлния повторных животных--</p>
	<p>create function delCountAnimal() returns trigger as $countAnimal$
begin
delete from personal_animalmodel a using 
        (select b.name, min(b.id) mid from personal_animalmodel b group by b.name) c 
        where a.name = c.name and a.id > c.mid;return old;
end;</p>
	<p>$countAnimal$ language plpgsql;
create trigger countAnimalCheck
after insert or update on personal_animalmodel
execute procedure delcountanimal();</p>
	
	<p>--Среднее время лечения группированное по болезням--</p>
	<p>create function avgHeal() returns table(name varchar, avgHeal float) as 
        $$ select name, avg(DATE_PART('day', date_end::timestamp - date_start::timestamp)) 
        from veterinary_illnessmodel join veterinary_illnessappointment 
        on illness_id = veterinary_illnessmodel.id group by name $$
        language sql;</p>

    <p>--Процент вылеченных всех животных--</p>
	<p>create function avgHealAllAnimals() returns table(avgHeal float) as 
        $$   select (select count(*) from veterinary_illnessappointment where date_end is not null)::float/
        (select count(*) from veterinary_illnessappointment) * 100 as percent $$
        language sql;</p>


    <p>--Процент вылеченных группированные по животным--</p>
	<p>create function avgHealGroupByAnimal2() returns table(name varchar, avgHeal float) as 
        $$   with t as (select count(*)::float 
        from veterinary_illnessappointment 
        join veterinary_illnessmodel on illness_id = veterinary_illnessmodel.id 
        join personal_animalmodel on animal_id = personal_animalmodel.id 
        )

    select personal_animalmodel.name, count(*)/(select * from t) * 100 as percent 
        from veterinary_illnessappointment 
        join veterinary_illnessmodel on illness_id = veterinary_illnessmodel.id 
        join personal_animalmodel on animal_id = personal_animalmodel.id where date_end is not null 
        group by personal_animalmodel.name; $$
        language sql;</p>


    <p>--процент вылеченных группированные по болезням--</p>
	<p>create function avgHealGroupByIllness2() returns table(name varchar, avgHeal float) as 
        $$   with t as (select count(*)::float
        from veterinary_illnessappointment 
        join veterinary_illnessmodel on illness_id = veterinary_illnessmodel.id 

        )
    select name, count(*)/(select * from t) * 100 as percent 
        from veterinary_illnessappointment 
        join veterinary_illnessmodel on illness_id = veterinary_illnessmodel.id 
        where date_end is not null
        group by name; $$
        language sql;</p>
{% endblock %}
