{% extends 'base.html' %}
{% load static %}

{% block title %}
	Посещения
{% endblock %}

{% block content_title %}
	<p class="m">Мои клиенты</p>
	<p class="s"><a href="{% url 'index' %}">Главная</a> / <a href="{% url 'personal' %}">Личный кабинет</a> / <a href="{% url 'clients' %}">Мои клиенты</a> / <span>Посещения</span></p>
{% endblock %}

{% block content %} 


<div class="ui-139">
	<div class="container">
			<div class = "comments">
		<form method="POST" action="{% url 'visits' id=appointment.id %}" enctype="multipart/form-data">
			{% csrf_token %}

			{% for item in form %}
			<div class="forms">
				<p class="forms-name">{{ item.label }}</p>
				{{ item }}
			</div>
			{% endfor %}

			<button class='forms-btn btn btn-secondary' type='submit'>Добавить</button>
		</form>
	</div>
		<div class="row">
			{% for visit in visits %}
			<div class="col-md-6 col-sm-12 col-xs-6">
				<!-- Item -->
				<div class="ui-item">
					<!-- Heading -->
					<div class="d-flex justify-content-between">
						<!-- Main Heading -->
						<h2>Посещение клиента  {{ visit.date }}</h2>
					</div>
			
					<div class="ui-border bg-red"></div>
					
					<hr/>
					<h4 class='mb-3'>Комментарий и лечение</h4>
					<p>{{ visit.note }}</p>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
</div>
{% endblock %}