{% extends 'base.html' %}
{% load static %}

{% block title %}
	Посещения
{% endblock %}

{% block content_title %}
	<p class="m">Посещения</p>
	<p class="s"><a href="{% url 'index' %}">Главная</a> / <a href="{% url 'personal' %}">Личный кабинет</a> / <span>Мои клиенты</span></p>
{% endblock %}

{% block content %} 
	<div class = "offset-md-2 col-md-8 comments">
		<form method="POST" action="{% url 'visits' id=appointment.id %}" enctype="multipart/form-data">
			{% csrf_token %}

			{% for item in form %}
			<div class="forms">
				<p class="forms-name">{{ item.label }}</p>
				{{ item }}
			</div>
			{% endfor %}

			<button class='forms-btn btn btn-secondary' type='submit'>Добавить</button>
		</form>
		<!--
		<div class="row justify-content-md-center">
			<form class="col-md-6 row justify-content-md-center" action="{% url 'clients' %}">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
				<button class="btn btn-secondary m-3" type="submit">Search</button>
			</form>
		</div>
		-->
		{% for visit in visits %}
			<div class="comments-item">
				<p>Дата посещения: {{ visit.date }}</p>
				<p>Комментарий и лечение: {{ visit.note }}</p>

			</div>
		{% endfor %}
	</div>
{% endblock %}