{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  
  <!-- МЕТА -->
  <title> {% block title %} {% endblock %}</title>
  <meta name="description" content="описание не длиннее 155 символов">
  <meta name="keywords" content="мета-теги, шаблон, html, css">
 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  {% block link %} {% endblock %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
  <header id="topsc" class='container'>

    <div class='logo row'>
      <p class='l-logo col-md-6 col-12'><a href="{% url 'index' %}">Ветеринарная клиника</a></p>
      <div class='row col-md-6 col-12 d-flex justify-content-md-end justify-content-start'>
        <p class="address">г. Красноярск, ул. Мира 4 <br><span>+7 (800) 555-35-30</span></p>
      </div>
    </div>
  </header>
         <div class="back">
          <button class="button-back"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
        </div>
<nav>

    <div class="nav-field">
      <div class="nav-field-box">
        <input id="navbutton" type="checkbox">
        <label for="navbutton" class="menu_btn"> 
          <span></span>
        </label>
        <div id="menu" class="nav_menu">
          <ul>
            <li class="box-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="box-item"><a href="">Услуги и цены</a></li>
            <li class="box-item"><a href="">Персонал</a></li>
            <li class="box-item"><a href="">Отзывы</a></li>
            <li class="box-item"><a href="">Записаться на прием</a></li>

            {% if user.is_authenticated %}
             <li class="line"></li>
             
            <li class="box-item login">
              <a href="{% url 'personal' %}"><i class="fa fa-user fa-lg" aria-hidden="true"></i></a>
            </li> 
            {% else %}
              <li class="box-item"><a href="{% url 'login' %}">Войти</a></li>
             {% endif %}
          </ul>
        </div>
      </div>
    </div>

  </nav>

  <div class='name'>
      <div class='name-back'>
            {% block content_title %}

            {% endblock %}
      </div>
  </div>

  <div class="space">
  </div>
  <div class="container">
    {% block content %}

    {% endblock %}
  </div>

  <div class="space">
  </div>

  <footer class="container-fluid d-flex">
    <p class="align-self-center">Copyright © 2019 Ветеринарная клиника</p>
  </footer>
  
  <script src="{% static 'js/main.js' %}"></script>
</body>